body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.logo {
    width: 80px; 
    border-radius: 70px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    color: red;
}

/* Main content styles */
.home-title {
    text-align: center;
    color: #333;
}

#home-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.staggered-section {
    margin-left: 50px; 
}

.me_on_bike, .not_me_on_bike {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.me, .notme {
    width: 100%; 
    border-radius: 8px;
}

footer {
    background-color: #333;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: red;
}
footer p {
    font-size: 1.2em;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}

/* subpage 1 css*/

.mountains, .dirt_bikes_in_air {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.handlebars, .twobikes {
    width: 100%;
    border-radius: 8px;
}
.Why-Dirt-Biking {
    text-align: center;
    color: #333;
}
/* Dropdown Button */
.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    padding-right: 85px;
    font-size: 16px;
    border-radius: 8px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: grey;
    color: red;
    }