body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.logo {
    width: 80px; /* Adjust the size as needed */
    border-radius: 70px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    color: red;
}

/* Main content styles */
.home-title {
    text-align: center;
    color: #333;
}

#home-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/* Stagger images using a class */
.staggered-section {
    margin-left: 50px; /* Adjust the margin as needed */
}

.me_on_bike, .not_me_on_bike {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.me, .notme {
    width: 100%; /* Make images fill their container */
    border-radius: 8px; /* Add some border radius for a rounded look */
}

footer {
    background-color: #333;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: red;
}
footer p {
    font-size: 1.2em;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}